<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deepin.gomoku"
    android:installLocation="auto"
    android:versionCode="120"
    android:versionName="1.2.2">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="33" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true" />

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:label="Gomoku"
        android:hardwareAccelerated="true"
        android:allowBackup="false">

        <activity
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:label="Gomoku"
            android:screenOrientation="unspecified"
            android:launchMode="singleTop"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.lib_name" android:value="-- %%INSERT_APP_LIB_NAME%% --" />
            <meta-data android:name="android.app.arguments" android:value="-- %%INSERT_APP_ARGUMENTS%% --" />
            <meta-data android:name="android.app.extract_android_style" android:value="minimal" />
        </activity>
    </application>
</manifest>
